<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" ><h2 class="nav-name">Grocery Mart</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav  m-auto">
    
        <ul class="navbar-nav m-auto">

          
               
          
        

      </ul>
      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn-search-icon rounded-circle"><i class="bi bi-search-heart"></i></button>
      </form>
    </div>
  </div>
</nav>

<section class="mt-5">
    <div class="container">
        <div class="img-main-banner">
            <div
                style="background: url(assets/kart1.jpg)no-repeat; background-size: cover; border-radius: .1rem; background-position:center;  height: 700px;">
                <div class="ps-lg-12 py-lg-16 col-xxl-5 col-md-7 py-14 px-8 text-xs-center bg-image">

                    <span class=" badges">Opening Sale Discount 50%</span>

                    <h2 class="text-light display-5 fw-bold mt-4">SuperMarket Daily <br> Fresh Grocery </h2>
                    <p class="text-light display-9 fw-bold">Introduced a new model for online grocery shopping and convenient home delivery.
                    </p>
                    <a href="#!" class="btn btn-dark mt-3">Shop Now <i class="bi bi-arrow-right"></i></a>
                </div>

            </div>
        </div>
    </div>
</section>



    <section>
        <div class="container mt-5 salessection">
            <div class="row">
                <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                    <div>
                        <div class="py-10 px-8 rounded-3"
                            style="background:url(assets/frutis.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                            <div>
                                <h3 class="fw-bold mb-1">Fruits & Vegetables
                                </h3>
                                <p class="mb-4">Get Upto <span class="fw-bold">30%</span> Off</p>
                                <a href="#!" class="btn btn-dark">Shop Now</a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-6 ">

                    <div>
                        <div class="py-10 px-8 rounded-3"
                            style="background:url(assets/Gemini_Generated_Image.jpg)no-repeat; background-size: cover; background-position: center; padding: 20px;">
                            <div>
                                <h3 class="text-light">Freshly Baked Buns
                                </h3>
                                <p class="text-light">Get Upto <span class="text-light">25%</span> Off</p>
                                <a href="#!" class="btn btn-dark">Shop Now</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="my-lg-14 my-8">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-6">

                    <h3 class="mb-4 nav-name">Popular Products</h3>

                </div>
            </div>

            <div class="row g-4 row-cols-lg-5 row-cols-2 row-cols-md-3">
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">

                            <div class="text-center position-relative ">
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-danger">Sale</span>
                                </div>
                                <a> <img src="assets/haldiram.jpg" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>


                            </div>
                            <div class="text-small mb-1"><a 
                                    class="text-decoration-none text-muted"><small>Snack &
                                        Munchies</small></a></div>
                            <h2 class="fs-6"><a  class="text-inherit text-dark  text-decoration-none">Haldiram's Sev
                                    Bhujia</a></h2>
                            <div>

                                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span
                                    class="text-muted small">4.5(149)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$18</span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>

              

                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative">
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-success">14%</span>
                                </div>
                                <a><img src="assets/nutrichoice.webp" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                

                            </div>
                            <div class="text-small mb-1"><a 
                                    class="text-decoration-none text-muted"><small>Bakery &
                                        Biscuits</small></a></div>
                            <h2 class="fs-6"><a class="text-inherit text-dark text-decoration-none">NutriChoice
                                    Digestive </a></h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5
                                    (25)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$24</span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a><img
                                        src="assets/cadbury.webp" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                               
                            </div>
                            <div class="text-small mb-1"><a
                                    class="text-decoration-none text-muted"><small>Bakery &
                                        Biscuits</small></a></div>
                            <h2 class="fs-6"><a class="text-inherit text-dark text-decoration-none">Cadbury  Chocolate</a></h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i></small> <span class="text-muted small">5
                                    (469)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$32</span> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a ><img
                                        src="assets/chips.jpg" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                               
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-danger">Hot</span>
                                </div>
                            </div>
                            <div class="text-small mb-1"><a href="#!"
                                    class="text-decoration-none text-muted"><small>Snack &
                                        Munchies</small></a></div>
                            <h2 class="fs-6"><a class="text-inherit text-dark text-decoration-none">Onion Flavour
                                    Potato</a></h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                    <i class="bi bi-star"></i></small> <span class="text-muted small">3.5 (456)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$3</span> 
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a ><img
                                        src="assets/popcorn.jpg" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                <div class="card-product-action">
                                    
                                </div>
                            </div>
                            <div class="text-small mb-1"><a 
                                    class="text-decoration-none text-muted"><small>Instant
                                        Food</small></a></div>
                            <h2 class="fs-6"><a class="text-inherit text-dark text-decoration-none">Salted Instant
                                    Popcorn </a></h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5
                                    (39)</span>
                            </div>
                            <div class="d-flex justify-content-between mt-4">
                                <div><span class="text-dark">$13</span> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative ">
                                <div class=" position-absolute top-0 start-0">
                                    <span class="badge bg-danger">Sale</span>
                                </div>
                                <a > <img src="assets/yogurt.webp" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                
                            </div>
                            <div class="text-small mb-1"><a
                                    class="text-decoration-none text-muted"><small>Dairy, Bread &
                                        Eggs</small></a></div>
                            <h2 class="fs-6"><a  class="text-inherit text-dark text-decoration-none">Blueberry Yogurt</a></h2>
                            <div>

                                <small class="text-warning"> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5
                                    (189)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$18</span> 
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a><img
                                        src="assets/cheese.jpg" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                               
                            </div>
                            <div class="text-small mb-1"><a
                                    class="text-decoration-none text-muted"><small>Dairy, Bread &
                                        Eggs</small></a></div>
                            <h2 class="fs-6"><a href="#!" class="text-inherit text-dark text-decoration-none">Britannia Cheese
                                    Slices</a></h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i></small> <span class="text-muted small">5
                                    (345)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$24</span>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a ><img
                                        src="assets/cereal.jpg" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                               
                            </div>
                            <div class="text-small mb-1"><a
                                    class="text-decoration-none text-muted"><small>Instant
                                        Food</small></a></div>
                            <h2 class="fs-6"><a class="text-inherit text-dark text-decoration-none">Kellogg's  Cereals</a>
                            </h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">4 (90)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$32</span> 
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a><img
                                        src="assets/millet.jpg" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                                
                            </div>
                            <div class="text-small mb-1"><a 
                                    class="text-decoration-none text-muted"><small>Snack &
                                        Munchies</small></a></div>
                            <h2 class="fs-6"><a class="text-inherit text-dark text-decoration-none">Slurrp Millet
                                    Chocolate </a></h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i></small> <span class="text-muted small">4.5
                                    (67)</span>
                            </div>
                            <div class="d-flex justify-content-between align-items-center mt-3">
                                <div><span class="text-dark">$3</span> 
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card card-product">
                        <div class="card-body">
                            <div class="text-center position-relative"> <a ><img
                                        src="assets/amul.jpg" alt="Grocery Ecommerce Template"
                                        class="mb-3 img-fluid"></a>
                               
                            </div>
                            <div class="text-small mb-1"><a
                                    class="text-decoration-none text-muted"><small>Dairy, Bread &
                                        Eggs</small></a></div>
                            <h2 class="fs-6"><a class="text-inherit text-dark text-decoration-none">Amul Butter - 500
                                    g</a></h2>
                            <div class="text-warning">

                                <small> <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-fill"></i>
                                    <i class="bi bi-star-half"></i>
                                    <i class="bi bi-star"></i></small> <span class="text-muted small">3.5 (89)</span>
                            </div><div class="d-flex justify-content-between mt-4">
                                <div><span class="text-dark">$13</span> 
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section> 
      <!-- products section end  -->

<!-- services section start  -->
      <section class="my-lg-14 my-8">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                      
                        <h3 class="h5 mb-3 mt-3">
                            10 minute grocery now
                        </h3>
                        <p>Get your order delivered to your doorstep at the earliest from FreshCart pickup stores near
                            you.</p>
                    </div>
                </div>
                <div class="col-md-6  col-lg-3">
                    <div class="mb-8 mb-xl-0">
                      
                        <h3 class="h5 mb-3 mt-3">Best Prices & Offers</h3>
                        <p>Cheaper prices than your local supermarket, great cashback offers to top it off. Get best
                            pricess & offers.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                     
                        <h3 class="h5 mb-3 mt-3">Wide Assortment</h3>
                        <p>Choose from 5000+ products across food, personal care, household, bakery, veg and non-veg &
                            other categories.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="mb-8 mb-xl-0">
                      
                        <h3 class="h5 mb-3 mt-3">Easy Returns</h3>
                        <p>Not satisfied with a product? Return it at the doorstep & get a refund within hours. No
                            questions asked
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- services section end  -->



    <!-- footer section start here  -->
                <div class="border-top py-4 container">
                <div class="row align-items-center me-5">
                    <div class="col-md-6"><span class="small text-muted ">Copyright 2024 © kaniga
                           </span></div>
                   